<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ToHome</servlet-name>
        <servlet-class>servlet.pages.ToHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Model</servlet-name>
        <servlet-class>servlet.model.Model</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererEmployeServlet</servlet-name>
        <servlet-class>servlet.insertion.InsererEmployeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererActiviteServlet</servlet-name>
        <servlet-class>servlet.insertion.InsererActiviteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererBouquetServlet</servlet-name>
        <servlet-class>servlet.insertion.InsererBouquetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererLieuServlet</servlet-name>
        <servlet-class>servlet.insertion.InsererLieuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToInsererElement</servlet-name>
        <servlet-class>servlet.pages.ToInsererElement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererBouquetActiviteServlet</servlet-name>
        <servlet-class>servlet.insertion.InsererBouquetActiviteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToInsererVoyage</servlet-name>
        <servlet-class>servlet.pages.ToInsererVoyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererVoyageServlet</servlet-name>
        <servlet-class>servlet.insertion.InsererVoyageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToListerVoyage</servlet-name>
        <servlet-class>servlet.pages.ToListerVoyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToListerBouquetActivite</servlet-name>
        <servlet-class>servlet.pages.ToListerBouquetActivite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToInsererFormuleComposition</servlet-name>
        <servlet-class>servlet.pages.ToInsererFormuleComposition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToInsererFormuleComposition2</servlet-name>
        <servlet-class>servlet.pages.ToInsererFormuleComposition2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererFormuleCompositionServlet</servlet-name>
        <servlet-class>servlet.insertion.InsererFormuleCompositionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererStockServlet</servlet-name>
        <servlet-class>servlet.insertion.InsererStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererReservationServlet</servlet-name>
        <servlet-class>servlet.insertion.InsererReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToListerEmploye</servlet-name>
        <servlet-class>servlet.pages.ToListerEmploye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToModifierPromotion</servlet-name>
        <servlet-class>servlet.pages.ToModifierPromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierPromotionServlet</servlet-name>
        <servlet-class>servlet.modification.ModifierPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToModifierVoyage</servlet-name>
        <servlet-class>servlet.pages.ToModifierVoyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierVoyageServlet</servlet-name>
        <servlet-class>servlet.modification.ModifierVoyageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToHome</servlet-name>
        <url-pattern>/ToHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Model</servlet-name>
        <url-pattern>/Model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererEmployeServlet</servlet-name>
        <url-pattern>/InsererEmployeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererActiviteServlet</servlet-name>
        <url-pattern>/InsererActiviteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererBouquetServlet</servlet-name>
        <url-pattern>/InsererBouquetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererLieuServlet</servlet-name>
        <url-pattern>/InsererLieuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToInsererElement</servlet-name>
        <url-pattern>/ToInsererElement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererBouquetActiviteServlet</servlet-name>
        <url-pattern>/InsererBouquetActiviteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToInsererVoyage</servlet-name>
        <url-pattern>/ToInsererVoyage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererVoyageServlet</servlet-name>
        <url-pattern>/InsererVoyageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToListerVoyage</servlet-name>
        <url-pattern>/ToListerVoyage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToListerBouquetActivite</servlet-name>
        <url-pattern>/ToListerBouquetActivite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToInsererFormuleComposition</servlet-name>
        <url-pattern>/ToInsererFormuleComposition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToInsererFormuleComposition2</servlet-name>
        <url-pattern>/ToInsererFormuleComposition2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererFormuleCompositionServlet</servlet-name>
        <url-pattern>/InsererFormuleCompositionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererStockServlet</servlet-name>
        <url-pattern>/InsererStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererReservationServlet</servlet-name>
        <url-pattern>/InsererReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToListerEmploye</servlet-name>
        <url-pattern>/ToListerEmploye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToModifierPromotion</servlet-name>
        <url-pattern>/ToModifierPromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierPromotionServlet</servlet-name>
        <url-pattern>/ModifierPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToModifierVoyage</servlet-name>
        <url-pattern>/ToModifierVoyage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierVoyageServlet</servlet-name>
        <url-pattern>/ModifierVoyageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
